<div class="overflow-hidden rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]">
  <div class="flex flex-col gap-4 px-6 mb-4 sm:flex-row sm:items-center sm:justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Recent Orders
      </h3>
    </div>
    <div class="flex items-center gap-3">
      <button class="inline-flex items-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-3 text-theme-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200">
        <app-icon name="filter" size="20" />
        Filter
      </button>
      <button class="inline-flex items-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-3 text-theme-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200">
        See all
      </button>
    </div>
  </div>

  <div class="max-w-full overflow-x-auto">
    <table class="min-w-full">
      <thead class="px-6 py-3.5 border-t border-gray-100 border-y bg-gray-50 dark:border-white/[0.05] dark:bg-gray-900">
        <tr>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">
            <div class="flex items-center gap-3">
              <div>
                <app-checkbox [checked]="selectAll" (checkedChange)="handleSelectAll()"/>
              </div>
              <div>
                <span class="font-medium text-gray-500 text-theme-xs dark:text-gray-400">
                  Deal ID
                </span>
              </div>
            </div>
          </th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Customer</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Product/Service</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Deal Value</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Close Date</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Status</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (row of tableRowData; track $index) {
        <tr>
          <td class="px-4 sm:px-6 py-3.5">
            <div class="flex items-center gap-3">
              <div>
                <app-checkbox
                  [checked]="selectedRows.includes(row.id)"
                  (checkedChange)="handleRowSelect(row.id)"
                />
              </div>
              <div>
                <span class="block font-medium text-gray-700 text-theme-sm dark:text-gray-400">
                  {{ row.id }}
                </span>
              </div>
            </div>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <div class="flex items-center gap-3">
              <app-avatar-text 
                [name]="row.user.name" 
                class="w-10 h-10"/>
              <div>
                <span class="mb-0.5 block text-theme-sm font-medium text-gray-700 dark:text-gray-400">
                  {{ row.user.name }}
                </span>
                <span class="text-gray-500 text-theme-sm dark:text-gray-400">
                  {{ row.user.email }}
                </span>
              </div>
            </div>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.product.name }}
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.product.price }}
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.product.purchaseDate }}
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <app-badge
              variant="light"
              [color]="getBadgeColor(row.status.type)"
              size="sm"
            >
              {{ row.status.type }}
            </app-badge>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            @if (row.actions.delete) {
            <button>
              <app-icon name="delete" size="20" className="text-gray-700 cursor-pointer hover:text-error-500 dark:text-gray-400 dark:hover:text-error-500" [fillCurrent]="true" />
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>